## Series Data Type Basics

In [24]:
#series are type objects.
#series are 1Dimensional.
import pandas as pd

pd.Series()

Series([], dtype: object)

In [17]:
#bool data type in pandas

bools = [True, False, False,True]

pd.Series(bools)

0     True
1    False
2    False
3     True
dtype: bool

In [18]:
#float data types in pandas

stock_prices = [985.32, 950.44]


pd.Series(data = stock_prices, dtype="float")

0    985.32
1    950.44
dtype: float64

In [19]:
#int data types in pandas

lucky_numbers = [4, 8, 15, 16, 23, 42]

pd.Series(lucky_numbers)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [21]:
#creating a list with np.nan-Means not a number

import numpy as np
temperatures = [94, 88, np.nan, 91]

pd.Series(data = temperatures)

0    94.0
1    88.0
2     NaN
3    91.0
dtype: float64

In [13]:
#using dictionary object to create a series data structure

calorie_info = {
    "Cereal": 125,
    "Chocolate Bar": 406,
    "Ice Cream Sundae": 342,
}

diet = pd.Series(calorie_info)
diet

Cereal              125
Chocolate Bar       406
Ice Cream Sundae    342
dtype: int64

In [22]:
#using tuples to create series data structure

pd.Series(data = ("Red", "Green", "Blue"))

0      Red
1    Green
2     Blue
dtype: object

In [23]:
#using array to create series data structure

rgb_colors = [(120, 41, 26), (196, 165, 45)]
pd.Series(data = rgb_colors)

0     (120, 41, 26)
1    (196, 165, 45)
dtype: object

In [12]:
#using set to create series data structure
my_set = {"Ricky", "Bobby"}
pd.Series(list(my_set))

0    Bobby
1    Ricky
dtype: object

## Series Summary

In [11]:
superheroes = [
    "Batman",
    "Superman",
    "Spider-Man",
    "Iron Man",
    "Captain America",
    "Wonder Woman"
]

strength_level= (100,120,90,95,110,120)

heroes=pd.Series(index = superheroes,data = strength_level)

heroes

Batman             100
Superman           120
Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [23]:
# Display the first Rows

heroes.head(2)

Batman      100
Superman    120
dtype: int64

In [98]:
# Display the last rows

heroes.tail(4)

Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [99]:
#unique values

heroes.nunique()

5

In [100]:
#gets the mean
heroes.mean()

105.83333333333333

In [101]:
#identify the maximum Value
heroes.max()

120

In [102]:
#identify the minimum value
heroes.min()

90