## Series and the love for structured data.

In [1]:
#importing the library needed
import pandas as pd
import numpy as np

### try it!

In [2]:
#series are type objects.
import pandas as pd

pd.Series()

Series([], dtype: object)

In [3]:
#the difference btwn series and list is the indexing.
ice_cream_flavors = [ "Chocolate","Vanilla", "Strawberry", "Rum Raisin",]

pd.Series(ice_cream_flavors)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [4]:
#list can be used to create the index and data of series data structure.
ice_cream_flavors = [
    "Chocolate","Vanilla", "Strawberry",  "Rum Raisin",]

days_of_week = ("Monday", "Wednesday", "Friday", "Saturday")

pd.Series(data=ice_cream_flavors, index=days_of_week)

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Saturday     Rum Raisin
dtype: object

In [6]:
#bool data type in pandas
bools = [True, False, False,True]

pd.Series(bools)

0     True
1    False
2    False
3     True
dtype: bool

In [7]:
#float data types in pandas
stock_prices = [985.32, 950.44]

time_of_day = ["Open", "Close"]

pd.Series(data = stock_prices, index = time_of_day , dtype="float")

Open     985.32
Close    950.44
dtype: float64

In [10]:
#int data types in pandas
lucky_numbers = [4, 8, 15, 16, 23, 42]

pd.Series(lucky_numbers)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [12]:
#creating a list with np.nan
temperatures = [94, 88, np.nan, 91]

pd.Series(data = temperatures)

0    94.0
1    88.0
2     NaN
3    91.0
dtype: float64

### try it!!

In [13]:
#using dictionary object to create a series data structure
calorie_info = {
    "Cereal": 125,
    "Chocolate Bar": 406,
    "Ice Cream Sundae": 342,
}

diet = pd.Series(calorie_info)
diet

Cereal              125
Chocolate Bar       406
Ice Cream Sundae    342
dtype: int64

In [14]:
#using tuples to create series data structure
pd.Series(data = ("Red", "Green", "Blue"))

0      Red
1    Green
2     Blue
dtype: object

In [8]:
#using array to create series data structure
rgb_colors = [(120, 41, 26), (196, 165, 45)]
pd.Series(data = rgb_colors)

0     (120, 41, 26)
1    (196, 165, 45)
dtype: object

In [12]:
#using set to create series data structure
my_set = {"Ricky", "Bobby"}
pd.Series(list(my_set))

0    Bobby
1    Ricky
dtype: object

In [14]:
#using the numpy fun random library to create series data structure
import numpy as np
random_data = np.random.randint(1, 101, 10)
random_data

array([ 15,  83,  72,  38,  60, 100,  39,  76,  62,   7])

### try it!!! bit fun this one okay! knowing the properties!! Easy

In [17]:
diet=["mango","apples","tomatos"]
diet=pd.Series(diet)
diet.values

array(['mango', 'apples', 'tomatos'], dtype=object)

In [18]:
type(diet.values)

numpy.ndarray

In [22]:
diet.index

Index(['Cereal', 'Chocolate Bar', 'Ice Cream Sundae'], dtype='object')

In [23]:
type(diet.index)

pandas.core.indexes.base.Index

In [24]:
diet.dtype

dtype('int64')

In [25]:
diet.size

3

In [26]:
diet.shape

(3,)

In [27]:
diet.is_unique

True

### hey you wanna know what's on the top and bottom

In [32]:
nums.head(3)

0     0
1     5
2    10
dtype: int64

In [33]:
nums.head(n = 3)

0     0
1     5
2    10
dtype: int64

In [34]:
nums.head()

0     0
1     5
2    10
3    15
4    20
dtype: int64

In [35]:
nums.tail(6)

94    470
95    475
96    480
97    485
98    490
99    495
dtype: int64

In [36]:
nums.tail()

95    475
96    480
97    485
98    490
99    495
dtype: int64

### where are my maths geeks at

In [38]:
numbers.count()

5

In [39]:
numbers.sum()

15.0

In [40]:
numbers.sum(skipna = False)

nan

In [41]:
numbers.sum(min_count = 3)

15.0

In [42]:
numbers.sum(min_count = 6)

nan

In [43]:
numbers.product()

120.0

In [44]:
numbers.product(skipna = False)

nan

In [45]:
numbers.product(min_count = 3)

120.0

In [46]:
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [47]:
numbers.cumsum()

0     1.0
1     3.0
2     6.0
3     NaN
4    10.0
5    15.0
dtype: float64

In [48]:
numbers.cumsum(skipna = False)

0    1.0
1    3.0
2    6.0
3    NaN
4    NaN
5    NaN
dtype: float64

In [49]:
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [50]:
numbers.pct_change()

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [51]:
# The three lines below are equivalent
numbers.pct_change()
numbers.pct_change(fill_method = "pad")
numbers.pct_change(fill_method = "ffill")

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [52]:
# The two lines below are equivalent
numbers.pct_change(fill_method = "bfill")
numbers.pct_change(fill_method = "backfill")

0         NaN
1    1.000000
2    0.500000
3    0.333333
4    0.000000
5    0.250000
dtype: float64

In [53]:
numbers.mean()

3.0

In [54]:
numbers.median()

3.0

In [55]:
numbers.std()

1.5811388300841898

In [56]:
numbers.max()

5.0

In [57]:
numbers.min()

1.0

In [58]:
animals = pd.Series(["koala", "aardvark", "zebra"])
animals

0       koala
1    aardvark
2       zebra
dtype: object

In [59]:
animals.max()

'zebra'

In [60]:
animals.min()

'aardvark'

In [61]:
numbers.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [62]:
numbers.sample(3)

2    3.0
5    5.0
3    NaN
dtype: float64

In [63]:
authors = pd.Series(
    ["Hemingway", "Orwell", "Dostoevsky", "Fitzgerald", "Orwell"]
)

authors.unique()

array(['Hemingway', 'Orwell', 'Dostoevsky', 'Fitzgerald'], dtype=object)

In [64]:
authors.nunique()

4

### Arithmetic Operations for the stats heros

In [65]:
s1 = pd.Series(data = [5, np.nan, 15], index = ["A", "B", "C"])
s1

A     5.0
B     NaN
C    15.0
dtype: float64

In [66]:
s1 + 3

A     8.0
B     NaN
C    18.0
dtype: float64

In [67]:
s1.add(3)

A     8.0
B     NaN
C    18.0
dtype: float64

In [68]:
# The three lines below are equivalent
s1 - 5
s1.sub(5)
s1.subtract(5)

A     0.0
B     NaN
C    10.0
dtype: float64

In [69]:
# The three lines below are equivalent
s1 * 2
s1.mul(2)
s1.multiply(2)

A    10.0
B     NaN
C    30.0
dtype: float64

In [70]:
# The three lines below are equivalent
s1 / 2
s1.div(2)
s1.divide(2)

A    2.5
B    NaN
C    7.5
dtype: float64

In [71]:
s1.floordiv(4)

A    1.0
B    NaN
C    3.0
dtype: float64

In [72]:
# The two lines below are equivalent
s1 % 3
s1.mod(3)

A    2.0
B    NaN
C    0.0
dtype: float64

### 2.5.3 Broadcasting

In [73]:
s1 = pd.Series([1, 2, 3], index = ["A", "B", "C"])
s2 = pd.Series([4, 5, 6], index = ["A", "B", "C"])

In [74]:
s1 + s2

A    5
B    7
C    9
dtype: int64

In [75]:
s1 = pd.Series(data = [3, 6, np.nan, 12])
s2 = pd.Series(data = [2, 6, np.nan, 12])

In [76]:
# The two lines below are equivalent
s1 == s2
s1.eq(s2)

0    False
1     True
2    False
3     True
dtype: bool

In [77]:
# The two lines below are equivalent
s1 != s2
s1.ne(s2)

0     True
1    False
2     True
3    False
dtype: bool

In [78]:
s1 = pd.Series(
    data = [5, 10, 15], index = ["A", "B", "C"]
)

s2 = pd.Series(
    data = [4, 8, 12, 14], index = ["B", "C", "D", "E"]
)

In [79]:
s1 + s2

A     NaN
B    14.0
C    23.0
D     NaN
E     NaN
dtype: float64

In [81]:
len(cities)

4

In [82]:
type(cities)

pandas.core.series.Series

In [84]:
list(cities)

['San Francisco', 'Los Angeles', 'Las  Vegas', nan]

In [85]:
dict(cities)

{0: 'San Francisco', 1: 'Los Angeles', 2: 'Las  Vegas', 3: nan}

In [86]:
cities

0    San Francisco
1      Los Angeles
2       Las  Vegas
3              NaN
dtype: object

In [87]:
"Las Vegas" in cities

False

In [88]:
2 in cities

True

In [89]:
"Las Vegas" in cities.values

False

In [90]:
100 not in cities

True

In [91]:
"Paris" not in cities.values

True

###  Challenge buddy

In [22]:
superheroes = [
    "Batman",
    "Superman",
    "Spider-Man",
    "Iron Man",
    "Captain America",
    "Wonder Woman"
]
strength_level= (100,120,90,95,110,120)
heroes=pd.Series(index = superheroes,data = strength_level)
heroes

Batman             100
Superman           120
Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [23]:
heroes.head(2)

Batman      100
Superman    120
dtype: int64

In [98]:
heroes.tail(4)

Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [99]:
heroes.nunique()

5

In [100]:
heroes.mean()

105.83333333333333

In [101]:
heroes.max()

120

In [102]:
heroes.min()

90

In [103]:
heroes * 2

Batman             200
Superman           240
Spider-Man         180
Iron Man           190
Captain America    220
Wonder Woman       240
dtype: int64

In [104]:
dict(heroes)

{'Batman': 100,
 'Superman': 120,
 'Spider-Man': 90,
 'Iron Man': 95,
 'Captain America': 110,
 'Wonder Woman': 120}

# that was fun but lets be more playful by using the fundamentals in our next adventure